.category-selector {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  overflow: visible;
}

.category-selector select {
  padding: 10px;
  margin: 15px;
  font-size: 16px;
  width: 200px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

.large-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  font-size: 48px;
  vertical-align: middle;
}
.mat-icon {
  height: 100px;
  width: 100px;
  font-size: 60;
}
