.category-selector {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  overflow: visible;
}

.category-selector select {
  padding: 10px;
  margin: 15px;
  font-size: 16px;
  width: 220px;
  max-width: 100%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

.large-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  font-size: 48px;
  vertical-align: middle;
}
.mat-icon {
  height: 100px;
  width: 100px;
  font-size: 60px;
}

@media (max-width: 768px) {
  .category-selector {
    margin: 0;
    padding: 6px 0;
    font-size: 16px;
  }

  .category-selector label {
    display: block;
    text-align: left;
  }

  .category-selector select {
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
  }

  .large-icon {
    font-size: 36px;
    min-height: 48px;
  }

  .mat-icon {
    height: 48px;
    width: 48px;
    font-size: 48px;
  }
}
