.converter {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}

.converter input,
.converter select {
  margin-right: 10px;
  padding: 10px;
}

.converter button {
  padding: 5px 10px;
}

div {
  margin-top: 10px;
}
