.app-container {
  text-align: center;
  padding: 50px;
  padding: 30px;
}

h1 {
  color: #441259;
  font-weight: bold;
  font-size: 28px;
}

mat-toolbar {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  width: 95%;
}

mat-toolbar div a {
  color: aliceblue;
}

button {
  font-size: 33px !important;
  width: 30px !important;
  height: 40px !important;
  padding: 4px !important;
}
.large-icon {
  font-size: 33px !important;
  width: 30px !important;
  height: 30px !important;
  padding: 3px !important;
}
