.app-container {
  text-align: center;
  margin-top: 20px;
  padding: 50px;
}

h1 {
  color: #441259;
  font-weight: bold;
  font-size: 28px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}
